.input-field {
	background-color: #dfdfdf; /* Gray background */
	border: 1px solid #cccccc; /* Border color */
	font-size: 16px;
	border-radius: 8px;
	width: 60%; /* Adjust width as needed */
	transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
	max-width: 1000px;
	height: 40px;
	padding: 0px 20px;
}
